<div class="form-mc">
    <span class="mc-call-action">SUBSCRIBE to the newsletter and get all the latest news!</span>
    <form>
        <div class="MuiFormControl-root MuiTextField-root">
            <label class="MuiFormLabel-root MuiInputLabel-root MuiInputLabel-formControl MuiInputLabel-animated MuiInputLabel-outlined" data-shrink="false" for="outlined-email-input" id="outlined-email-input-label">Email Address</label>
            <div class="MuiInputBase-root MuiOutlinedInput-root MuiInputBase-formControl">
                <input type="email" aria-invalid="false" autocomplete="email" id="outlined-email-input" name="email" class="MuiInputBase-input MuiOutlinedInput-input" value="">
                <fieldset aria-hidden="true" class="jss1 MuiOutlinedInput-notchedOutline">
                    <legend class="jss3"><span>Email Address</span></legend>
                </fieldset>
            </div>
        </div>
        <button class="MuiButtonBase-root MuiButton-root MuiButton-contained MuiButton-containedPrimary" tabindex="0" type="submit" label="Submit">
            <span class="MuiButton-label">
                <span class="MuiTypography-root MuiTypography-button">Subscribe</span>
            </span>
            <span class="MuiTouchRipple-root"></span>
        </button>
    </form>
</div>